@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(98, 104, 109);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px white;
    position: relative;
}

h1 {
    color: white;
    border: 5px solid red;
    padding: 15px ;
    border-radius: 45px;
    font-size: 1.5rem;
}

.board>div {
    cursor: pointer;
    box-shadow: 0 0 5px 5px;

}



.red {
    background-color: red;
    border-radius: 100% 0 0 0;

}

.blue {
    background-color: blue;
    border-radius: 0 100% 0 0;

}

.green {
    background-color: green;
    border-radius: 0 0 0 100%;

}

.yellow {
    background-color: rgb(219, 219, 3);
    border-radius: 0 0 100% 0;

}



.flash {
    animation: flash-animation 0.5s ease;
}

@keyframes flash-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;

        box-shadow: 0 0 20px 20px white;
    }

    100% {
        opacity: 1;
    }
}

.game-over {
    background-color: red;
}